<% include ../partials/header %>

    <div class="row">
        <h1 style="text-align: center">Wrong password or username, please try again!</h1>
        <h2 style="text-align: center"><a href="/login">Try again</a></h1>
    </div>

<% include ../partials/footer %>